ONECORTEX_VECTOR_DATABASE_URL=postgres://onecortex_vector:onecortex_vector@localhost:5432/onecortex_vector
ONECORTEX_VECTOR_API_PORT=8080
ONECORTEX_VECTOR_ADMIN_PORT=9090
ONECORTEX_VECTOR_LOG_LEVEL=debug
